.element__like {
  background-image: url(/images/like.svg);
  background-color: #fff;
  background-size: cover;
  width: 22px;
  height: 19px;
  margin: auto 0;
  opacity: 1;
  border: 0;
  transition: opacity .3s ease-in-out;
}

.element__like:hover {
  opacity: .5;
  cursor: pointer;
}