.popup__input {
  display: block;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto 48px auto;
  width: 84%;
  padding: 0;
  border: none;
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.popup__input:focus {
  box-shadow: 0 0 8px #709CF1;
  outline-color: #709CF1;
  outline-style: solid;
  outline-width: 2px;
  border-radius: 2px;
}

@media screen and (max-width: 680px) {
  .popup__input {
    margin-left: auto;
    margin-right: auto;
  }
}
