.pop-up__name {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0 auto 30px auto;
  width: 358px;
  padding: 0;
  border: none;
  height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.pop-up__name:focus {
  box-shadow: 0 0 8px #709CF1;
  outline-color: #709CF1;
  outline-style: solid;
  outline-width: 2px;
  border-radius: 2px;
}
