.pop-up__close-icon {
  position: absolute;
  width: 32px;
  height: 32px;
  top: -40px;
  right: -40px;
  opacity: 1;
  transition:  opacity .3s ease-in-out;
}

.pop-up__close-icon:hover {
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 680px) {
  .pop-up__close-icon {
    right: 0;
    top: -35px;
    width: 20px;
    height: 20px;
  }
}